product-rerender {
  display: block;
  padding: 30px 0;
}
product-rerender .info-images-areaslider {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
product-rerender .title-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
product-rerender .metadata-area .list-container {
  width: 49%;
}
product-rerender .metadata-area .list-container ul li {
  padding: 5px 0;
}
product-rerender .metadata-area .list-container.second ul {
  margin-left: 0px;
}
product-rerender .metadata-area .list-container ul {
  margin-left: 30px;
}
product-rerender .metadata-area .list-container.first ul {
  margin-left: 0px;
}

product-rerender .metadata-area .list-container.first ul li {
    /* list-style: inside; */
    margin-left: 20px;
}
product-rerender .actual-info-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
product-rerender .metadata-area {
  display: flex;
  gap: 2%;
}
product-rerender .price-add-btn-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
/* product-rerender .info-images-area {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
} */

/* accordion */
product-rerender .list-container.first .accordion {
  border-bottom: 1px solid;
  border-color:#055541;
  width: 100%;
}
product-rerender .accordion-header {
  border-top: 1px solid;
  border-color:#055541;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #055541;
  cursor: pointer;
  padding: 10px 0;
}
product-rerender .accordion-content img {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}
product-rerender .accordion-content {
  display: none;
  padding: 10px;
  margin-top: 0px;
  padding-top: 0px;
  list-style-image: url(https://cdn.shopify.com/s/files/1/0745/1171/2563/files/spark0.14.png);
}

product-rerender .active + .accordion-content {
  display: block;
}
/* accordion */

/* add to cart */
/* Style the select dropdown */
product-rerender .price-add-btn-area select {
  border-left: 1px solid #2e5730;
  padding: 8px 12px;
  border-radius: 0px;
  background-color: transparent;
  color: #2e5730;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  padding-right: 5px;
}

product-rerender .price-add-btn-area form {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* add to cart */

/* slider */
product-rerender .product {
  grid-template-columns: 30%;
}
/* slider */

/* Mobile First */
@media (max-width: 768px) {
  product-rerender .product {
    grid-template-columns: auto;
  }
  product-rerender .metadata-area .list-container {
    width: 100%;
  }
  product-rerender .metadata-area .list-container ul {
    margin-left: 0px;
  }
  product-rerender .metadata-area {
    flex-direction: column-reverse;
    gap: 30px;
  }
  product-rerender .list-container.first .accordion {
  border-bottom: 1px solid black;
  max-width: 350px;
  }
}
/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  product-rerender .product {
    grid-template-columns: auto;
  }
}
